<ion-view view-title="Batalla Naval">
  <ion-content style="background: url(img/background-app.jpg) no-repeat center center fixed; background-size: cover;">
  	<div class="item item-balanced item-icon-left item-icon-right" ng-click="bandera.estado = 'crearPartida';" ng-show="bandera.estado == 'inicio'">
  		<i class="icon ion-trophy"></i>
  		Crear partida
  		<i class="icon ion-plus-round"></i>
	  </div>

    <div class="item item-positive item-icon-left item-icon-right" ng-click="bandera.estado = 'buscar';" ng-show="bandera.estado == 'inicio'">
      <i class="icon ion-trophy"></i>
      Buscar partidas
      <i class="icon ion-search"></i>
    </div>

    <div class="card" ng-show="bandera.estado == 'inicio'">
      <div class="item item-divider" style="text-align: center;">
        TU TURNO
      </div>
      <div class="item item-text-wrap">
        <ion-list>
          <ion-item ng-repeat="partida in partidasEnJuego" ng-if='partida.turno==turno.turno' ng-click="JugarTurno(partida)">
            {{partida.creador}} apuesta {{partida.monto}} créditos
          </ion-item>
        </ion-list>
      </div>
      <div class="item item-divider">
      </div>
    </div>

    <div class="card" ng-show="bandera.estado == 'inicio'">
      <div class="item item-divider" style="text-align: center;">
        ESPERANDO AL OPONENTE
      </div>
      <div class="item item-text-wrap">
        <ion-list>
          <ion-item ng-repeat="partida in partidasEnJuego" ng-if='partida.estado=="aceptado" && partida.turno!=turno.turno'>
            {{partida.creador}} apuesta {{partida.monto}} créditos
          </ion-item>
        </ion-list>
      </div>
      <div class="item item-divider">
      </div>
    </div>

    <div class="card" ng-show="bandera.estado == 'inicio'">
      <div class="item item-divider" style="text-align: center;">
        SIN OPONENTE
      </div>
      <div class="item item-text-wrap">
        <ion-list>
          <ion-item ng-repeat="partida in partidasPropiasEsperando" ng-if='partida.estado=="esperando"'>
            {{partida.creador}} apuesta {{partida.monto}} créditos
          </ion-item>
        </ion-list>
      </div>
      <div class="item item-divider">
      </div>
    </div>
    
    <div class="item item-assertive item-icon-left item-icon-right" ng-click="bandera.estado = 'inicio';" ng-show="bandera.estado == 'buscar'">
      <i class="icon ion-trophy"></i>
      Volver
      <i class="icon ion-plus-round"></i>
    </div>

    <ion-list ng-show="bandera.estado == 'buscar'">
      <ion-item ng-repeat="partida in partidas" ng-click="AmpliarDesafio(partida)">
        {{partida.creador}} apuesta {{partida.monto}} créditos
      </ion-item>
    </ion-list>
    
    <div ng-show="bandera.estado == 'crearPartida'">
      <div class="item item-divider" style="text-align: center;">
        Elegir ubicación del crédito
      </div>
      <div class="row" style="width:50%; text-align: center; margin: auto;">
        <div class="col">
          <input type="radio" class="button button-assertive" name="ubicacion" ng-model="partida.ubicacionCreador" value="1">
        </div>
        <div class="col">
          <input type="radio" class="button button-assertive" name="ubicacion" ng-model="partida.ubicacionCreador" value="2">
        </div>
      </div>
      <div class="row" style="width:50%; text-align: center; margin: auto;">
        <div class="col">
          <input type="radio" class="button button-assertive" name="ubicacion" ng-model="partida.ubicacionCreador" value="3">
        </div>
        <div class="col">
          <input type="radio" class="button button-assertive" name="ubicacion" ng-model="partida.ubicacionCreador" value="4">
        </div>
      </div>

      <div class="item item-divider" style="text-align: center;">
        Elegir monto de la partida
      </div>
      <div class="item range">
        <i class="icon ion-minus-round"></i>
        <input type="range" name="monto" ng-model="partida.monto" min="0" max="100">
        <i class="icon ion-plus-round"></i>
      </div>
      <div class="item">
        Apuesta: {{partida.monto}} créditos
      </div>

      <div class="item item-divider" style="text-align: center;">
        Confirmar partida
      </div>
      <div class="button-bar">
        <a class="button button-assertive" ng-click="Cancelar()"><i class="icon ion-close-round"></i></a>
        <a class="button button-balanced" ng-click="Guardar()"><i class="icon ion-checkmark-round"></i></a>
      </div>

      <pre>{{partida | json}}</pre>
    </div>
    
    <div ng-if="bandera.estado == 'partida'">
      <div class="item item-divider" style="text-align: center;">
        Elegir ubicación del crédito
      </div>
      <div class="row" style="width:50%; text-align: center; margin: auto;">
        <div class="col">
          <input type="radio" class="button button-assertive" name="ubicacionDesafiante" ng-model="partida.ubicacionDesafiante" value="1">
        </div>
        <div class="col">
          <input type="radio" class="button button-assertive" name="ubicacionDesafiante" ng-model="partida.ubicacionDesafiante" value="2">
        </div>
      </div>
      <div class="row" style="width:50%; text-align: center; margin: auto;">
        <div class="col">
          <input type="radio" class="button button-assertive" name="ubicacionDesafiante" ng-model="partida.ubicacionDesafiante" value="3">
        </div>
        <div class="col">
          <input type="radio" class="button button-assertive" name="ubicacionDesafiante" ng-model="partida.ubicacionDesafiante" value="4">
        </div>
      </div>
      <div class="item item-divider" style="text-align: center;">
        Aceptar partida
      </div>
      <div class="button-bar">
        <a class="button button-assertive" ng-click="Volver()"><i class="icon ion-close-round"></i></a>
        <a class="button button-balanced" ng-click="Aceptar()"><i class="icon ion-checkmark-round"></i></a>
      </div>
    </div>

    <div ng-if="bandera.estado == 'jugar'">
      <div class="item item-divider" style="text-align: center;">
        Elegir ubicación
      </div>
      <div class="row" style="width:50%; text-align: center; margin: auto;">
        <div class="col">
          <input type="radio" class="button button-assertive" name="ubicacionDesafiante" ng-model="partida.miTurno" value="1" ng-disabled="mostrarRadio._1">
        </div>
        <div class="col">
          <input type="radio" class="button button-assertive" name="ubicacionDesafiante" ng-model="partida.miTurno" value="2" ng-disabled="mostrarRadio._2">
        </div>
      </div>
      <div class="row" style="width:50%; text-align: center; margin: auto;">
        <div class="col">
          <input type="radio" class="button button-assertive" name="ubicacionDesafiante" ng-model="partida.miTurno" value="3" ng-disabled="mostrarRadio._3">
        </div>
        <div class="col">
          <input type="radio" class="button button-assertive" name="ubicacionDesafiante" ng-model="partida.miTurno" value="4" ng-disabled="mostrarRadio._4">
        </div>
      </div>
      <div class="item item-divider" style="text-align: center;">
        Aceptar jugada
      </div>
      <div class="button-bar">
        <a class="button button-assertive" ng-click="VolverJugada()"><i class="icon ion-close-round"></i></a>
        <a class="button button-balanced" ng-click="AceptarJugada()"><i class="icon ion-checkmark-round"></i></a>
      </div>
    </div>

  </ion-content>
</ion-view>
