<ion-view view-title="Desafíos">
  <ion-content style="background: url(img/background-app.jpg) no-repeat center center fixed; background-size: cover;">

    <!-- INICIO -->

    <div class="item item-balanced item-icon-left item-icon-right" ng-click="bandera.estado = 'crearDesafio';" ng-show="bandera.estado == 'inicio'">
      <i class="icon ion-trophy"></i>
      Crear desafío
      <i class="icon ion-plus-round"></i>
    </div>
    
    <div class="item item-positive item-icon-left item-icon-right" ng-click="bandera.estado = 'buscar';" ng-show="bandera.estado == 'inicio'">
      <i class="icon ion-trophy"></i>
      Buscar partidas
      <i class="icon ion-search"></i>
    </div>

    <div class="card" ng-show="bandera.estado == 'inicio'">
      <div class="item item-divider" style="text-align: center;">
        ESPERANDO TU RESPUESTA
      </div>
      <div class="item item-text-wrap">
        <ion-list>
          <ion-item ng-repeat="(key, desafio) in desafios" ng-if='desafio.estado=="aceptado" && desafio.creadorUid==datosSesion.uid' ng-click="ResponderDesafio(key)">
            "{{desafio.texto}}" ({{desafio.monto}} créditos)
          </ion-item>
        </ion-list>
      </div>
      <div class="item item-divider">
      </div>
    </div>

    <div class="card" ng-show="bandera.estado == 'inicio'">
      <div class="item item-divider" style="text-align: center;">
        SIN OPONENTE
      </div>
      <div class="item item-text-wrap">
        <ion-list>
          <ion-item ng-repeat="desafio in desafios" ng-if='desafio.estado=="esperando" && desafio.creadorUid==datosSesion.uid'>
            "{{desafio.texto}}" ({{desafio.monto}} créditos)
          </ion-item>
        </ion-list>
      </div>
      <div class="item item-divider">
      </div>
    </div>

    <div class="card" ng-show="bandera.estado == 'inicio'">
      <div class="item item-divider" style="text-align: center;">
        ESPERANDO RESPUESTA DEL OPONENTE
      </div>
      <div class="item item-text-wrap">
        <ion-list>
          <ion-item ng-repeat="desafio in desafios" ng-if='desafio.estado=="aceptado" && desafio.desafianteUid==datosSesion.uid'>
            "{{desafio.texto}}" ({{desafio.monto}} créditos)
          </ion-item>
        </ion-list>
      </div>
      <div class="item item-divider">
      </div>
    </div>

    <!-- BUSCAR DESAFÍO -->
    
    <div class="item item-assertive item-icon-left item-icon-right" ng-click="bandera.estado = 'inicio';" ng-show="bandera.estado == 'buscar'">
      <i class="icon ion-trophy"></i>
      Volver
      <i class="icon ion-plus-round"></i>
    </div>

    <ion-list ng-show="bandera.estado == 'buscar'">
      <ion-item ng-repeat="(key, desafio) in desafios" ng-click="AmpliarDesafio(key)" ng-if='desafio.estado=="esperando" && desafio.creadorUid!=datosSesion.uid'>
        "{{desafio.texto}}" ({{desafio.monto}} créditos)
      </ion-item>
    </ion-list>

    <!-- CREAR DESAFÍO -->

    <div ng-show="bandera.estado == 'crearDesafio'">
      <div class="item item-divider" style="text-align: center;">
        Escribir desafío
      </div>
      
      <input type="text" placeholder="escribir acá" ng-model="desafio.texto">

      <div class="item item-divider" style="text-align: center;">
        Elegir monto a apostar
      </div>
      <div class="item range">
        <i class="icon ion-minus-round"></i>
        <input type="range" name="monto" ng-model="desafio.monto" min="0" max="100">
        <i class="icon ion-plus-round"></i>
      </div>
      <div class="item">
        Apuesta: {{desafio.monto}} créditos
      </div>

      <div class="item item-divider" style="text-align: center;">
        Confirmar desafío
      </div>
      <div class="button-bar">
        <a class="button button-assertive" ng-click="Cancelar()"><i class="icon ion-close-round"></i></a>
        <a class="button button-balanced" ng-click="Guardar()"><i class="icon ion-checkmark-round"></i></a>
      </div>

      <pre>{{desafio | json}}</pre>
    </div>

    <!-- AMPLIAR DESAFÍO -->

    <div ng-show="bandera.estado == 'desafio'">
      <div class="item item-divider" style="text-align: center;">
        Detalles
      </div>
      <div class="item">
        <p>Usuario: {{desafio.creador}}</p>
        <p>Fecha: {{desafio.fechaCreado}}</p>
        <p>Monto: {{desafio.monto}}</p>
        <p>Texto: {{desafio.texto}}</p>
      </div>

      <div class="item item-divider" style="text-align: center;">
        Aceptar desafío
      </div>
      <div class="button-bar">
        <a class="button button-assertive" ng-click="Volver()"><i class="icon ion-close-round"></i></a>
        <a class="button button-balanced" ng-click="Aceptar()"><i class="icon ion-checkmark-round"></i></a>
      </div>
    </div>

    <!-- RESPONDER DESAFÍO -->
    <div ng-show="bandera.estado == 'responderDesafio'">
      <div class="card">
        <div class="item item-text-wrap">
          <p style="font-style: italic; text-align: center; font-size: 175%;">"{{desafio.texto}}"</p>
          <br>
          <p style="text-align: center;">({{desafio.monto}} créditos)</p>
        </div>
      </div>

      <div class="item item-divider" style="text-align: center;">
        Resultado desafío
      </div>
      <div class="button-bar">
        <a class="button button-positive" ng-click="Resultado('ganador')" style="border-right: white 0.5px solid;"><i class="icon ion-thumbsup"></i>&nbsp;&nbsp;GANÉ</a>
        <a class="button button-positive" ng-click="Resultado('perdedor')" style="border-left: white 0.5px solid;">PERDÍ&nbsp;&nbsp;<i class="icon ion-thumbsdown"></i></a>
      </div>
      <a class="button button-block button-assertive" ng-click="VolverAlInicio()" style="margin-top: 0px;">VOLVER</a>
    </div>


  </ion-content>
</ion-view>
