<ion-view view-title="Generar créditos">
  <ion-content style="background: url(img/background-app.jpg) no-repeat center center fixed; background-size: cover;">

	<div class="list">

	  <div class="item item-divider">
	    Créditos sin consumir
	  </div>

	  <p class="item">
	    Cantidad: {{datos.cantidad}}
	  </p>
	  <p class="item">
	    Importe total: {{datos.importeTotal}}
	  </p>
	
	  <div class="item item-divider">
	    Generar nuevo crédito
	  </div>

	  <div class="list">
		<div class="item item-input-inset">
		  <label class="item-input-wrapper">
		    <input type="number" placeholder="Importe" ng-model="credito.importe">
		  </label>
		  <button class="button button-small button-positive" ng-click="GenerarCredito()"> ENVIAR </button>
		</div>
	  </div>

	</div>
  </ion-content>
</ion-view>
