<ion-view view-title="Perfil">
  <ion-content>
		<div class="list card">
			<div class="item item-avatar">
				<img src="img/lautaro.jpg">
				<h2>{usuario.nombre}</h2>
				<p>Usuario desde: {usuario.registro}</p>
			</div>

			<div class="item item-body">
				<h2>Créditos: {usuario.creditos}</h2>
				<div style="text-align: center;"><button class="button button-balanced">
				  Cargar crédito
				</button></div>
			</div>
			
			<div class="item item-body" style="text-align: center;">
				<button class="button button-assertive button-block">
				  <i class="ion-power"></i>&nbsp;Salir
				</button>
			</div>
		</div>

		<ion-checkbox ng-model="usuario.token">Mostrar token</ion-checkbox>
  </ion-content>
</ion-view>
